In [2]:
import mysql.connector 
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.types import Date

HOST_ADDRESS = "localhost"
USER_NAME = "root"
PASSWORD = "Hello@1234"
DATABASE_NAME = "updated_stocks"


try:
    mydb = mysql.connector.connect(
        host = HOST_ADDRESS,
        user = USER_NAME,
        password = PASSWORD
    )
except:

    raise Exception("an error occured conencting to database, check host_name, username, and password and verify if it's correct")

engine = create_engine(f"mysql+pymysql://{USER_NAME}:{PASSWORD}@{HOST_ADDRESS}/{DATABASE_NAME}")
cursor = mydb.cursor()
try:
    cursor.execute("USE updated_stocks")
except:
    cursor.execute("CREATE DATABASE updated_stocks")
    cursor.execute("USE updated_stocks")

In [2]:
query = "SELECT MAX(Date) FROM mstr_nse_indexes_eod WHERE Index_name = 'NIFTY_50'"
last_date_df = pd.read_sql(query,con=mydb)
last_date_df

C:\Users\dhruv\AppData\Local\Temp\ipykernel_10568\3962179114.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_date_df = pd.read_sql(query,con=mydb)

  MAX(Date)
0      None

In [7]:
last_date = last_date_df.iloc[0,0]
last_date

In [8]:
from datetime import date
from datetime import timedelta

In [9]:
#now we get need to get the date after the last update date 
start_update_date = last_date + timedelta(days=1)
end_update_date = date.today()

start_update_date = start_update_date.strftime("%Y-%m-%d")
end_update_date = end_update_date.strftime("%Y-%m-%d")

TypeError: unsupported operand type(s) for +: 'NoneType' and 'datetime.timedelta'

In [7]:
#helper function
import datetime
def get_date_list(start_date:str , end_date:str ,date_format:str = "%Y-%m-%d"):
    start_date = datetime.datetime.strptime(start_date,"%Y-%m-%d").date()
    end_date = datetime.datetime.strptime(end_date,"%Y-%m-%d").date() 
    return [(start_date+ datetime.timedelta(days=x)).strftime(date_format) for x in range((end_date - start_date).days + 1)]

In [8]:
date_list = get_date_list(start_date=start_update_date,end_date=end_update_date)
date_list

['2024-08-06',
 '2024-08-07',
 '2024-08-08',
 '2024-08-09',
 '2024-08-10',
 '2024-08-11',
 '2024-08-12',
 '2024-08-13',
 '2024-08-14',
 '2024-08-15',
 '2024-08-16',
 '2024-08-17',
 '2024-08-18',
 '2024-08-19',
 '2024-08-20',
 '2024-08-21',
 '2024-08-22',
 '2024-08-23',
 '2024-08-24',
 '2024-08-25',
 '2024-08-26']

In [9]:
from eqldata import DataClient
from eqldata import generate_auth_token, get_instrument_list

username = 'vishal.nanda@solutionsandstrategy.com' #email
password = 'Hello@1234'

auth_token = generate_auth_token(username, password)
# print(auth_token)
if auth_token:
    print("Response: ", auth_token)


list_of_securities = get_instrument_list(auth_token)

Response:  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3Mjg5NDg4MDksImlhdCI6MTcyNDYyODgwOSwic3ViIjoidmlzaGFsLm5hbmRhQHNvbHV0aW9uc2FuZHN0cmF0ZWd5LmNvbSJ9.KKGk6omqT5D0B3sRVnikZ7ROdvxcUYk878RC_SEgJbY

In [10]:
nse_indexes = [sec for sec in list_of_securities["NSEIDX"]]

In [18]:
import pandas as pd
import time 
from eqldata import get_EOD
dfs = []
for i,date in enumerate(date_list):
    if(i%5 == 0):
        time.sleep(70)

    print("done for date ",date)
    result = get_EOD(auth_token,nse_indexes, date)


    if(result=="Error"):
        print(f"couldn't get for : {date} because of holidays")
        continue
    if(result == "Too Many Requests"):
        print(f"couldn't get for date {date} due to server overload")
        continue
    
    #reducing the dimension of the 3d list to 2-d list 
    flattened_data = [item[0] for item in result if item[0]]
    columns = ["Index_name","Date","Open","High","Low","Close","Volume","OI"]
    df = pd.DataFrame(data=flattened_data,columns=columns)


    numeric_columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'OI']
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    df["Volume"] = df["Volume"].astype(int)

    # Convert Date to datetime
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')

    dfs.append(df)

In [12]:
from sqlalchemy.types import Date
if len(dfs) > 0:
    master_df = pd.concat(dfs,ignore_index=True)
    master_df.to_sql("mstr_nse_indexes_eod",con=engine,index=False,dtype = {'Date': Date()},chunksize=10000,if_exists="append")
else:
    print("no new data to add for indexes")

In [13]:
nse_securities = [sec for sec in list_of_securities["NSEEQ"]]

In [14]:
import pandas as pd
import time 
from eqldata import get_EOD
dfs = []
for i,date in enumerate(date_list):
    if(i%5 == 0 ):
        time.sleep(70)

    print("done for date ",date)
    result = get_EOD(auth_token,nse_securities, date)


    if(result=="Error"):
        print(f"couldn't get for : {date} because of holidays")
        continue
    if(result == "Too Many Requests"):
        print("couldn't get for date {date} due to server overload")
        continue
    
    #reducing the dimension of the 3d list to 2-d list 
    flattened_data = [item[0] for item in result if item[0]]
    columns = ["NSETICKER","Date","Open","High","Low","Close","Volume","OI"]
    df = pd.DataFrame(data=flattened_data,columns=columns)


    numeric_columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'OI']
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    df["Volume"] = df["Volume"].astype(int)

    # Convert Date to datetime
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')

    dfs.append(df)

done for date  2024-08-06
done for date  2024-08-07
done for date  2024-08-08
done for date  2024-08-09
done for date  2024-08-10
couldn't get for : 2024-08-10 because of holidays
done for date  2024-08-11
couldn't get for : 2024-08-11 because of holidays
done for date  2024-08-12
done for date  2024-08-13
done for date  2024-08-14
done for date  2024-08-15
couldn't get for : 2024-08-15 because of holidays
done for date  2024-08-16
done for date  2024-08-17
couldn't get for : 2024-08-17 because of holidays
done for date  2024-08-18
couldn't get for : 2024-08-18 because of holidays
done for date  2024-08-19
done for date  2024-08-20
done for date  2024-08-21
done for date  2024-08-22
done for date  2024-08-23
done for date  2024-08-24
couldn't get for : 2024-08-24 because of holidays
done for date  2024-08-25
couldn't get for : 2024-08-25 because of holidays
done for date  2024-08-26
couldn't get for : 2024-08-26 because of holidays

In [15]:
master_df = pd.concat(dfs,ignore_index=True)
master_df

,NSETICKER,Date,Open,High,Low,Close,Volume,OI
0,ADANIENT,2024-08-06,3084.00,3142.80,3057.25,3072.70,2125201,714767.0
1,ADANIPORTS,2024-08-06,1524.90,1539.75,1488.10,1494.10,3159971,1144036.0
2,APOLLOHOSP,2024-08-06,6689.15,6735.00,6631.05,6657.70,334936,176787.0
3,ASIANPAINT,2024-08-06,3101.70,3135.00,3086.05,3101.75,885743,449253.0
4,AXISBANK,2024-08-06,1140.00,1151.00,1123.10,1126.10,8571122,5001239.0
...,...,...,...,...,...,...,...,...
24032,UTIBANKETF,2024-08-23,52.22,52.67,51.98,52.18,30181,18981.0
24033,UTINEXT50,2024-08-23,79.89,80.27,78.65,79.09,90228,50371.0
24034,UTINIFTETF,2024-08-23,268.01,270.50,268.01,269.50,6242,5251.0
24035,UTISENSETF,2024-08-23,880.00,882.85,876.81,879.43,457,235.0
24036,UTISXN50,2024-08-23,90.92,91.30,90.60,90.65,1671,1527.0

In [16]:
if len(dfs) > 0:
    master_df = pd.concat(dfs,ignore_index=True)
    master_df.to_sql("mstr_nse_eod",con=engine,index=False,dtype = {'Date': Date()},chunksize=10000,if_exists="append")
else:
    print("no new data to add for stocks(nsetickers)")